#root {
  min-height: 100vh;
  padding: 32px 40px 32px 40px;
  margin: 0 auto;
  background-color: #f3f3f3;
}

.page {
  margin: 0 auto;
  background-color: #f3f3f3;
}

@media screen and (max-width: 720px) {
  #root {
    padding: 18px 16px 18px 16px;
  }
}
