#root {
  max-width: 100%;
  margin: 0 auto;          
  padding:  20px; 
  min-height: 100vh;
  background-color: #F3F3F3;
}

.page {
  max-width: 1360px;
  margin: 0 auto; 
  min-height: 100vh;
  background-color: #f3f3f3;          
}

.logo {
  width: 89;
  height: 40;
  font-family: "CabinetGrotesk";
  font-weight: 900;
  font-style: Black;
  font-size: 32px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

@media screen and (max-width: 720px) {
  #root {
    max-width: 720px;
  }

  .page {
    max-width: 720px;
  }
}

