#root {
  max-width: 1440px;  
  margin: 0 auto;          
  padding: 20px; 
  min-height: 100vh;        
}

.page {
  max-width: 1440px;  
  margin: 0 auto;          
}

.logo {
width: 89;
height: 40;
font-family: Cabinet Grotesk;
font-weight: 900;
font-style: Black;
font-size: 32px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
}

.card {
  padding: 16px 8px;
  width: 323px;
  height: 326px;
  border-width: 1px;
}
