.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    width: 1440px;
    margin: 0 auto;
    height: 40px;
}

.footer__left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.footer__right {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
}

  