.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f3f3f3;
    border-radius: 4px;
    width: auto;
    margin-top: 40px;
    height: 40px;
}

.footer__left {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-self: center;
    height: 20px;
    width: 204px;
}

.footer__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: center;
    height: 20px;
    width: 38px;
}

.footer__name {
    font-family: Cabinet Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
}

.footer__year {
    font-family: Cabinet Grotesk;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
}

@media screen and (max-width: 720px) {
  
}