
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  width: auto;
  margin: 0 auto;
  height: 40px;
  border-radius: 4px;

}

.header__left {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-start;
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: flex-end;
}

.header__logo {
  align-self: center;
  width: 89px;
  height: 40px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  font-style: Bold;
  width: auto;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  height: 24px;
}

.header__date {
  display: flex;
  align-items: center;
  text-align:left;
  flex-direction: row;
  width: auto;
  margin: 0;
}

.header__location {
  display: flex;
  align-items: center;
  width: auto;
  text-align: left;
  flex-direction: row;
  margin: 0;
}

.header__user {
  display: flex;
  justify-content: space-between;
  font-style: Bold;
  width: auto;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  height: 24px;
}

.header__button {
  width: auto;
  height: 24px;
  border: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__name {
  display: flex;
  align-self: center;
  text-align: center;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__avatar {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px;
}

@media screen and (max-width: 720px) {

.header {
  width: auto;
  align-content: center;
  height: 40px;
  border-radius: 4px;
  padding: 0;
  margin: 0 auto;
}

.header__logo {
  align-self: center;
  width: 70px;
  height: 40px;
}

.header__left {
  align-items: center;
}

.header__right {
  align-items: center;
}


.header__info {
  justify-content: space-between;
  font-size: 16px;
  line-height: 16px;
  gap: 10px;
  flex-direction: row;
}

.header__date {
  text-align: center;
}

.header__location {
  text-align: center;
}

.header__user {
  gap: 5px;
  font-size: 16px;
  line-height: 16px;
  height: 20px;
}

.header__button {
  width: auto;
  text-align: center;
  height: 20px;
  font-size: 16px;
  line-height: 16px;
}

.header__name {
  text-align: center;
  font-size: 16px;
}

.header__avatar {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px;
}
}