
.header {
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  width: 1440px;
  margin: 0 auto;
  height: 40px;
}

.header__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.header__right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.header__logo {
  align-self: center;
  width: 89px;
  height: 40px;
}

.header__info {
  display: flex;
  justify-content: space-between;
  font-style: Bold;
  width: auto;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  height: 24px;
}

.header__date {
  margin: 0;
}

.header__location {
  margin: 0;
}

.header__user {
  display: flex;
  justify-content: space-between;
  font-style: Bold;
  width: auto;
  gap: 10px;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 0;
  height: 24px;
}

.header__button {
  width: auto;
  height: 24px;
  border: none;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__name {
  display: flex;
  align-self: flex-end;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

.header__avatar {
  display: flex;
  align-self: center;
  width: 40px;
  height: 40px;
  border: 1px;
}
