
#item-modal .modal__container {
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    background: #FFF;
    margin: 0 auto;
    width: 498px;
    height: 610px;
    gap: 20px;
    border-radius: 8px;
}

#item-modal .modal__caption {
    width: auto;
    height: 24px;
}

.modal__weather {
    width: auto;
    height: 24px;
}

#item-modal .modal__close-btn {
    display: flex;
    position: absolute;
    border-style: none;
    background-image: url("../assets/modalCloseBtn.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 20px;
    height: 20px;
    left: 100%;
}


@media screen and (max-width: 720px) {

    #item-modal .modal__container {
        width: 250px;
        height: 310px;
        gap: 10px;
        border-radius: 4px;
        font-size: 16px;
        line-height: 16px;
    }

    .modal__footer {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 60px;
    }

}