.card {
    display: flex; 
    position: relative;
    flex-direction: column;
    background-color: #F3F3F3;
    border-radius: 8px;
    height: 323px;
    width: 325px;
    margin-bottom: 20px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    border: #0000004D;
    border-width: 1px;
    border-style:solid;
    letter-spacing: 0%;
}

.card__name {
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-self: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 73px;
    height: 24px;
    border-radius: 4px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    background-color: #FFF;
    color: #00000099;
 
    
}

.card__image {
    display: block;
    border-radius: 8px;
    height: 323px;
    width: 325px;
    object-fit: cover;
    cursor: pointer;
}

.card__view-btn {
    display: flex; 
    position: absolute;
    border-radius: 8px;
    height: 323px;
    width: 325px;
    background-color: rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.card .card__view-btn:hover {
    opacity: 1;
    transition-duration: 1s;
    visibility: visible;
  }



@media screen and (max-width: 720px) {  
    .card {
        height: 323px;
        width: 325px;
    }
  
    .card__image {
        height: 323px;
        width: 325px;
    }
  
    .card__label {
      font-size: 16px;
      line-height: 16px;
    }

}