#item__modal {
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    background: #FFF;
    margin: 0 auto;
    width: 498px;
    height: 610px;
    gap: 20px;
    border-radius: 8px;
}

#item__modal .modal__label--writing {
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
}

#item__modal .modal__title {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 24px;
}

#item__modal .modal__label {
    width: auto;
    height: 24px;
}

#item__modal .modal__title {
    width: auto;
    height: 24px;
}

#item__modal .image__container {
    width: auto;
    height: auto;
}

.item__modal--footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 112px;
}

/*version 2
#item__modal {
    box-sizing: border-box;
    flex-direction: column;
    width: 670px;
    height: 368px;
    border-width: 1px;
    border-radius: 20px;
}

#item__modal .modal__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: auto;
    height: 24px;
  }

  #item__modal .modal__label {
    width: auto;
    height: 24px;
}
  
  #item__modal .modal__form {
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 440px;
    gap: 20px;
    height: 24px;
    border-width: 1px;
    border-bottom:#000;
  }

  #item__modal .modal__title {
    width: 95px;
    height: 20px;
  }

  #item__modal .image__container {
    width: 325px;
    height: 328px;
    
    #item__modal .side__container {
        display: flex;
        width: 325px;
        height: auto;
  }
*/

@media screen and (max-width: 720px) {

    #item__modal {
        width: 250px;
        height: 310px;
        gap: 10px;
        border-radius: 4px;
    }
    
    #item__modal .modal__label--writing {
        font-size: 16px;
        line-height: 16px;
    }

    #item__modal--footer {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 60px;
    }

}