.card {
    width: 325px;
    height: 328px;
    background-color: #F3F3F3;
    margin-bottom: 20px;
    padding: 0;
}


.card__label {
    width: 73;
    height: 24;
    border-radius: 4px;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
}
  