#item-modal .modal__container {
    display:flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    background: #FFF;
    margin: 0 auto;
    width: 498px;
    height: 610px;
    gap: 20px;
    border-radius: 8px;
}

#item-modal .modal__container .modal__label--writing {
    font-family: Cabinet Grotesk;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 24px;
    letter-spacing: 0%;
}

#item-modal .modal__title {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 24px;
}

#item-modal .modal__label {
    width: auto;
    height: 24px;
}

#item-modal .modal__title {
    width: auto;
    height: 24px;
}

#item-modal .image__container {
    width: auto;
    height: auto;
}

#item-modal .modal__close-btn {
    display: flex;
    position: absolute;
    border-style: none;
    background-image: url("../assets/modalCloseBtn.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 20px;
    height: 20px;
    left: 100%;
}

.modal--footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 112px;
}

/*version 2
#item-modal {
    box-sizing: border-box;
    flex-direction: column;
    width: 670px;
    height: 368px;
    border-width: 1px;
    border-radius: 20px;
}

#item-modal .modal__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: auto;
    height: 24px;
  }

  #item-modal .modal__label {
    width: auto;
    height: 24px;
}

  #item-modal .modal__title {
    width: 95px;
    height: 20px;
  }

  #item-modal .image__container {
    width: 325px;
    height: 328px;
    
    #item-modal .side__container {
        display: flex;
        width: 325px;
        height: auto;
  }
*/

@media screen and (max-width: 720px) {

    #item-modal {
        width: 250px;
        height: 310px;
        gap: 10px;
        border-radius: 4px;
    }
    
    #item-modal .modal__label--writing {
        font-size: 16px;
        line-height: 16px;
    }

    #item-modal--footer {
        display: flex;
        justify-content: space-between;
        width: auto;
        height: 60px;
    }

}