.content {
    background-color: #FFF;
}

.cards__page-section {
    width: auto;
    margin: 0 auto;
    background-color: #FFF;
}

.cards__list-temp {
    font-style: Bold;      
    leading-trim: NONE;
    background-color: #000;
    border-radius: 4px;
    width: 325px;
    height: 25px;
    font-family: Cabinet Grotesk;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;    
}


.cards__list {
    list-style-type: none;
    justify-content:center;
    display: grid;
    margin: 0 auto;
    gap: 0 20px;
    grid-template-columns: repeat(auto-fit, 325px);
    width: auto;
    padding: 0;
    background-color: #FFF;
  }


