.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
  }
  
  .modal_opened {
    visibility: visible;
    opacity: 1;
    transition-delay: 0;
  }

  .modal__label--writing {
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
  }

  .modal__footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 112px;
}

.modal__image {
    width: 498px;
    height: 498px;
    margin: 0 auto;
}

.modal__container_type_image {
    width: 498px;
    height: 498px;
    margin: 0 auto;
}

.modal__caption {
    width: auto;
    height: 24px;
}

.modal__close-btn {
    display: flex;
    position: absolute;
    border-style: none;
    background-image: url("../assets/modalCloseBtn.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .modal__error--visible {
    opacity: 70%;
    font-size: 16px;
    visibility: visible;
    border: 1px solid #FF0000;
  }
  
  .modal__error--hidden {
    visibility: hidden;
  }
  
  .modal__error_input {
    color: #FF0000;
    opacity: 0.6;
  }
  