.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: visibility 0.3s ease-in, opacity 0.3s ease-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0;
}

  .add__modal_content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    position: relative;
    width: 496px;
    height: auto;
    background-color: #FFF;
    margin: 0 auto;
    border-radius: 20px;
    padding: 28px 28px 36px;
  }

  .modal__title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;    
  }

  .add__modal_close-btn {
    display: flex;
    position: absolute;
    border-style: none;
    background-image: url("../assets/addModalCloseBtn.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 24px;
    right: 24px;
  }

  .modal__form  {
    display:flex;
    flex-direction: column; 
    width: auto;
    height: auto;
    margin-top: 20px;
    gap: 20px;
  }

  .modal__label {
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    width:440px;
    height: 52px;
    gap: 8px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%; 
  }

  .modal__input {
    display: flex;
    justify-content: center;
    height: 24px;
    border: none;
    border-bottom: 1px solid #000;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%; 
  }



  .modal__submit-btn {
    text-align: center;
    width: 124px;
    height: 36px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%; 
    color: #FFF;
    border: none;
    border-radius: 4px;
    background-color:#0000004D;

  }
    
  .modal__radio-fieldset {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    gap: 10px;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 173px;
    height: 108px;
  }

  .modal__radio-input {
    display: flex;
    margin-right: 5px;
    font-family: "CabinetGrotesk";
    height: auto;
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
  }

  .modal__label_radio {
    display: flex;
    width: 50px;
    height: 20px;
    border: 1px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%; 
  }

  .modal__legend {
    margin-bottom: 10px;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
  }


@media screen and (max-width: 720px) {
  .add__modal-with-form .modal__label--writing {
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000;
    gap: 10px;
    width: 325px;
    height: 250px;
    border-radius: 4px;
  }

  .add__modal-with-form .modal__label {
    width: 300px;
    height: 52px;
    gap: 4px;
  }
      
  .add__modal-with-form .modal__form {
      width: 300px;
      gap: 10px;
  }

  .add__modal-with-form .modal__input {
      width: 300px;
  }

  .add__modal-with-form .modal__submit-btn {
    width: 124px;
    height: 36px;
    gap: 6px;
  }
      
  .modal__radio-fieldset  {
    width: 90px;
    height: 75px;
  }  
}