.weather__card {
    display: flex;
    justify-items: flex-start;
    width: auto;
    height: 80px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

.weather-card__temp {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    color: #FFF;
    margin-left: 10px;
    top: 120px;
    border-radius: 8px;
    width: auto;
    height: auto;
    background-color: transparent;
    font-family: "CabinetGrotesk";
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 40px;
    letter-spacing: 0%;
}

.weather-card__image {
    width: auto;
    height: 80px;
    background-color: #f3f3f3;
    border-radius: 8px;
}

@media screen and (max-width: 720px) {
    .weather-card {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 40px;
        border-radius: 4px;
        background-position:center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    .weather-card__temp {
        display: flex;
        margin: 0 auto;
        border-radius: 4px;
        width: 35px;
        height: 20px;
        font-size: 18px;
        line-height: 20px;
    }
}